{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header_title %}Login{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card tg-bg-color">
        <div class="card-header">Login</div>
        <div class="card-body">
          {% if form.errors %}
            <div class="alert alert-danger">
              {{ form.errors }}
            </div>
          {% endif %}
          <form 
            method="post"
            {% if action_url %}
              action="{% url action_url %}"
            {% endif %}
          >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}