{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% block css %}{% endblock %}

    <title>
      {% block title %}{% endblock %}
    </title>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  </head>

  <body>
    <header class="container my-2">
      <ul class="d-flex justify-content-between list-unstyled mb-0">
        <li class="p-0 col-2 text-left">{% block header_left %}{% endblock %}</li>
        <li class="p-0 col text-center">{% block header_title %}Header title{% endblock %}</li>
        <li class="p-0 col-2 text-right">{% block header_right %}{% endblock %}</li>
      </ul>
    </header>

    <main>
      <div class="container py-0 mb-3">
        <div class="content">
          {% block content %}
            Контент не подвезли :(
          {% endblock %}
        </div>
      </div>
    </main>

    {% include 'includes/footer.html' %}

    {% block js %}{% endblock %}
  </body>
</html>
