body {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color) !important;
}

.outline-btn {
    color: var(--tg-theme-button-color) !important;
    border-color: var(--tg-theme-button-color) !important;
}
.outline-btn:hover {
    color: var(--tg-theme-button-text-color) !important;
    background-color: var(--tg-theme-button-color) !important;
}

.tg-bg-color {
    background-color: var(--tg-theme-bg-color) !important;
}
.tg-text-color {
    color: var(--tg-theme-text-color) !important;
}
.tg-hint-color {
    color: var(--tg-theme-hint-color) !important;
}
.tg-link-color {
    color: var(--tg-theme-link-color) !important;
}
.tg-button-color {
    background-color: var(--tg-theme-button-color) !important;
}
.tg-button-text-color {
    background-color: var(--tg-theme-button-text-color) !important;
}
.tg-secondary-bg-color {
    background-color: var(--tg-theme-secondary-bg-color) !important;
}