.event-container {
    background-color: var(--tg-theme-bg-color);
}

.register-event-btn {
    color: var(--tg-theme-button-text-color);
    border-color: var(--tg-theme-button-color);
}
.register-event-btn:hover {
    background-color: var(--tg-theme-button-color);
}