{% extends 'base.html' %}
{% load static %}

{% block title %}{{event.title}}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/events/index.css' %}">
{% endblock %}

{% block header_left %}
  <a class="tg-link-color" href="{% url 'events:index' %}">Back</a>
{% endblock %}
{% block header_title %}{{event.title}}{% endblock %}

{% block content %}
  {% include 'includes/events/event.html' %}  
{% endblock %}


{% block js %}
  <script>
    var like_url = '{% url "events:like_event" %}';
    var bookmark_url = '{% url "events:bookmark_event" %}';
  </script>

  <script src="{% static 'js/post.js' %}"></script>
  <script src="{% static 'js/events/index.js' %}"></script>
{% endblock %}