{% extends 'base.html' %}
{% load static %}

{% block title %}{{event.title}}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/events/index.css' %}">
{% endblock %}

{% block header_left %}<a href="{% url 'events:index' user.id %}">Back</a>{% endblock %}
{% block header_title %}{{event.title}}{% endblock %}
{% block header_right %}
<a href="{% url 'events:index' user.id %}">
    <i class="fa-solid fa-arrow-rotate-right"></i>
  </a>
{% endblock %}


{% block content %}
  <article class="container-fluid p-2 rounded event-container">
    <h4>{{ event.title }}</h4>
    <div class="row">
      <div class="col-md-5">
        <img src="{{ event.photo }}" alt="" class="mw-100 mh-100 rounded">
        <ul class="d-flex p-0 m-0 list-unstyled">
          <li class="p-2">
            <form 
              action="{% url 'events:like_post' user.id %}"
              method="POST"
            >
              {% csrf_token %}
              <input type="hidden" name="event_id" value="{{ event.id }}">
              {% if user not in event.liked.all %}
                <button type="submit" class="btn p-0">
                  <i class="fa-regular fa-heart fa-lg"></i>
                </button>
              {% else %}
                <button type="submit" class="btn p-0">
                  <i class="fa-solid fa-heart fa-lg text-danger"></i>
                </button>
              {% endif %}
            </form>
          </li>
          <li class="p-2"><i class="fa-regular fa-paper-plane fa-lg"></i></li>
          <li class="p-2 ml-auto"><i class="fa-regular fa-bookmark fa-lg"></i></li>
        </ul>
        <p class="tg-hint mb-3">{{ event.liked.all.count }} likes</p>
      </div>
      <div class="col-md-7"> 
        <p>{{ event.description|linebreaksbr }}</p>

        <p><i class="fa-regular fa-calendar"></i> {{ event.start_date }}</p>
        <p><i class="fa-regular fa-map"></i> {{ event.address }}</p>

        <a href="{{ event.sign_up_url }}" target="_blank" class="ml-auto">
          <button class="btn w-100 register-event-btn">Register now</button>
        </a>
      </div>
    </div>
  </article>
{% endblock %}