{% extends 'base.html' %}
{% load static %}

{% block title %}Events{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/events/index.css' %}">
{% endblock %}

{% block header_title %}Recent events{% endblock %}
{% block header_right %}
<a href="{% url 'events:index' %}">
    <i class="fa-solid fa-arrow-rotate-right"></i>
  </a>
{% endblock %}

{% block content %}
  {% for event in events %}
    {% comment %} 
      TODO:
      Figure out how to move this to a template. For event_detail.html
    {% endcomment %}
    <article id="event-{{ event.id }}" class="container-fluid p-2 rounded event-container">
      <h4>{{ event.title }}</h4>
      <div class="row">
        <div class="col-md-5">
          <img src="{{ event.photo }}" alt="" class="mw-100 mh-100 rounded">
          {% csrf_token %}
          <ul class="d-flex p-0 m-0 list-unstyled">
            <li class="p-2">
              <button id="like-button" class="btn p-0" event-id="{{ event.id }}">
                {% if user not in event.liked.all %}
                    <i class="fa-regular fa-heart fa-lg tg-text"></i>
                {% else %}
                    <i class="fa-solid fa-heart fa-lg text-danger"></i>
                {% endif %}
              </button>
            </li>
            {% comment %} 
            TODO:
            Think about if it is possible to open forward message by clicking on forward button.
            Should send a link to the detail event page.
            {% endcomment %}
            <li class="p-2"><i class="fa-regular fa-paper-plane fa-lg"></i></li>
            <li class="p-2 ml-auto">
              <button id="bookmark-button" class="btn p-0" event-id="{{ event.id }}">
                {% if user not in event.bookmarked.all %}
                    <i class="fa-regular fa-bookmark fa-lg tg-text"></i>
                {% else %}
                    <i class="fa-solid fa-bookmark fa-lg text-warning"></i>
                {% endif %}
              </button>
            </li>
          </ul>
          <p class="mb-3 like-count">{{ event.liked.all.count }} likes</p>
        </div>
        <div class="col-md-7"> 
          <p>
            {% comment %} 
            TODO: 
            25 is currently a magic number.
            Store it somewhere else as a constant.
            {% endcomment %}
            {{ event.description|linebreaksbr|truncatewords:25 }}
            {% if event.description|length > 25 %}
              <a href="{% url 'events:event_details' event.id %}">Read more</a>
            {% endif %}
          </p>

          <p><i class="fa-regular fa-calendar"></i> {{ event.start_date }}</p>
          <p><i class="fa-regular fa-map"></i> {{ event.address }}</p>


          {% comment %} 
            TODO:
            Figure out if the user actually signed in or not.
            (Perhaps th user gets redirected to register confirmation page after signing up to the event.)
          {% endcomment %}
          <a href="{{ event.sign_up_url }}" target="_blank" class="ml-auto">
            <button class="btn w-100 register-event-btn">Register now</button>
          </a>
        </div>
      </div>
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock content %}

{% block js %}
  <script src="{% static 'js/post.js' %}"></script>
  <script>
    // For the like button.
    setPostHandler(
      '#like-button', 
      '{% url "events:like_event" %}', 
      ['event-id'],
      (data) => {
        if (data.error) {
          alert(data.error);
          return;
        }

        likeButton = $(`#event-${data.eventId} #like-button`);
        likeCount = $(`#event-${data.eventId} .like-count`);

        if (data.state == 'liked') {
          likeButton.html(`<i class="fa-solid fa-heart fa-lg text-danger"></i>`);
        }
        if (data.state == 'unliked') {
          likeButton.html(`<i class="fa-regular fa-heart fa-lg tg-text"></i>`);
        }
        likeCount.text(`${data.likeCount} likes`);
      }
    );

    // For the bookmark button.
    setPostHandler(
      '#bookmark-button', 
      '{% url "events:bookmark_event" %}', 
      ['event-id'],
      (data) => {
        if (data.error) {
          alert(data.error);
          return;
        }

        bookmarkButton = $(`#event-${data.eventId} #bookmark-button`);

        if (data.state == 'bookmarked') {
          bookmarkButton.html(`<i class="fa-solid fa-bookmark fa-lg text-warning"></i>`);
        }
        if (data.state == 'unbookmarked') {
          bookmarkButton.html(`<i class="fa-regular fa-bookmark fa-lg tg-text"></i>`);
        }
      }
    );
  </script>
{% endblock %}