{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/events/like_button.css' %}">
{% endblock %}


{% block title %}Мероприятие{% endblock title %}

{% block header_title %}Текущее мероприятие{% endblock %}

{% block content %}
  <div class="event-list">
    {% for event in page_obj %}
      {% include 'events/includes/event.html' %}
    {% endfor %}
    {% if page_obj.has_next %}
      <p class="pagination">
        <a class="next-page" href="?page={{ page_obj.next_page_number }}">Больше...</a>
      </p>
    {% else %}
      <p class="text-center tg-hint-color text-muted">
        Больше нет никаких мероприятие
      </p>
    {% endif %}
  </div>
{% endblock content %}

{% block js %}
  <script>
    var like_url = '{% url "events:like_event" %}';
    var bookmark_url = '{% url "events:bookmark_event" %}';
  </script>

  <script src="{% static 'js/post.js' %}"></script>
  <script src="{% static 'js/events/index.js' %}"></script>


  {% comment %} 
    jScroll plug-in CDN
    https://github.com/pythonsansar/infinite-scrolling-django/blob/master/books/templates/books/book-list.html
  {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  <script>
    jQuery(function ($) {
      var $list = $('.event-list');
      $list.jscroll({
        loadingHtml: `{% include "includes/loading.html" %}`,
        pagingSelector: '.pagination',
        nextSelector: 'a.next-page:last',
        contentSelector: '.card,.pagination'
      });
    });
  </script>
{% endblock %}
