{% extends 'base.html' %}
{% load static %}

{% block title %}Events{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/events/index.css' %}">
{% endblock %}


{% block header_title %}Recent events{% endblock %}
{% block header_right %}
<a href="{% url 'events:index' %}">
    <i class="fa-solid fa-arrow-rotate-right"></i>
  </a>
{% endblock %}


{% block content %}
  {% for event in events %}
    {% include 'includes/events/event.html' %}

    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock content %}


{% block js %}
  <script>
    var like_url = '{% url "events:like_event" %}';
    var bookmark_url = '{% url "events:bookmark_event" %}';
  </script>

  <script src="{% static 'js/post.js' %}"></script>
  <script src="{% static 'js/events/index.js' %}"></script>
{% endblock %}